In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os

In [2]:
dataset=pd.read_csv("Salary Data.csv")
dataset.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [3]:
print(dataset.size)

2250

In [4]:
pd.unique(dataset["Job Title"])

array(['Software Engineer', 'Data Analyst', 'Senior Manager',
       'Sales Associate', 'Director', 'Marketing Analyst',
       'Product Manager', 'Sales Manager', 'Marketing Coordinator',
       'Senior Scientist', 'Software Developer', 'HR Manager',
       'Financial Analyst', 'Project Manager', 'Customer Service Rep',
       'Operations Manager', 'Marketing Manager', 'Senior Engineer',
       'Data Entry Clerk', 'Sales Director', 'Business Analyst',
       'VP of Operations', 'IT Support', 'Recruiter', 'Financial Manager',
       'Social Media Specialist', 'Software Manager', 'Junior Developer',
       'Senior Consultant', 'Product Designer', 'CEO', 'Accountant',
       'Data Scientist', 'Marketing Specialist', 'Technical Writer',
       'HR Generalist', 'Project Engineer', 'Customer Success Rep',
       'Sales Executive', 'UX Designer', 'Operations Director',
       'Network Engineer', 'Administrative Assistant',
       'Strategy Consultant', 'Copywriter', 'Account Manager',
       'Director of Marketing', 'Help Desk Analyst',
       'Customer Service Manager', 'Business Intelligence Analyst',
       'Event Coordinator', 'VP of Finance', 'Graphic Designer',
       'UX Researcher', 'Social Media Manager', 'Director of Operations',
       'Senior Data Scientist', 'Junior Accountant',
       'Digital Marketing Manager', 'IT Manager',
       'Customer Service Representative', 'Business Development Manager',
       'Senior Financial Analyst', 'Web Developer', 'Research Director',
       'Technical Support Specialist', 'Creative Director',
       'Senior Software Engineer', 'Human Resources Director',
       'Content Marketing Manager', 'Technical Recruiter',
       'Sales Representative', 'Chief Technology Officer',
       'Junior Designer', 'Financial Advisor', 'Junior Account Manager',
       'Senior Project Manager', 'Principal Scientist',
       'Supply Chain Manager', 'Senior Marketing Manager',
       'Training Specialist', 'Research Scientist',
       'Junior Software Developer', 'Public Relations Manager',
       'Operations Analyst', 'Product Marketing Manager',
       'Senior HR Manager', 'Junior Web Developer',
       'Senior Project Coordinator', 'Chief Data Officer',
       'Digital Content Producer', 'IT Support Specialist',
       'Senior Marketing Analyst', 'Customer Success Manager',
       'Senior Graphic Designer', 'Software Project Manager',
       'Supply Chain Analyst', 'Senior Business Analyst',
       'Junior Marketing Analyst', 'Office Manager', 'Principal Engineer',
       'Junior HR Generalist', 'Senior Product Manager',
       'Junior Operations Analyst', 'Senior HR Generalist',
       'Sales Operations Manager', 'Senior Software Developer',
       'Junior Web Designer', 'Senior Training Specialist',
       'Senior Research Scientist', 'Junior Sales Representative',
       'Junior Marketing Manager', 'Junior Data Analyst',
       'Senior Product Marketing Manager', 'Junior Business Analyst',
       'Senior Sales Manager', 'Junior Marketing Specialist',
       'Junior Project Manager', 'Senior Accountant', 'Director of Sales',
       'Junior Recruiter', 'Senior Business Development Manager',
       'Senior Product Designer', 'Junior Customer Support Specialist',
       'Senior IT Support Specialist', 'Junior Financial Analyst',
       'Senior Operations Manager', 'Director of Human Resources',
       'Junior Software Engineer', 'Senior Sales Representative',
       'Director of Product Management', 'Junior Copywriter',
       'Senior Marketing Coordinator', 'Senior Human Resources Manager',
       'Junior Business Development Associate', 'Senior Account Manager',
       'Senior Researcher', 'Junior HR Coordinator',
       'Director of Finance', 'Junior Marketing Coordinator', nan,
       'Junior Data Scientist', 'Senior Operations Analyst',
       'Senior Human Resources Coordinator', 'Senior UX Designer',
       'Junior Product Manager', 'Senior Marketing Specialist',
       'Senior IT Project Manager', 'Senior Quality Assurance Analyst',
       'Director of Sales and Marketing', 'Senior Account Executive',
       'Director of Business Development', 'Junior Social Media Manager',
       'Senior Human Resources Specialist', 'Senior Data Analyst',
       'Director of Human Capital', 'Junior Advertising Coordinator',
       'Junior UX Designer', 'Senior Marketing Director',
       'Senior IT Consultant', 'Senior Financial Advisor',
       'Junior Business Operations Analyst',
       'Junior Social Media Specialist',
       'Senior Product Development Manager', 'Junior Operations Manager',
       'Senior Software Architect', 'Junior Research Scientist',
       'Senior Financial Manager', 'Senior HR Specialist',
       'Senior Data Engineer', 'Junior Operations Coordinator',
       'Director of HR', 'Senior Operations Coordinator',
       'Junior Financial Advisor', 'Director of Engineering'],
      dtype=object)

In [5]:
dataset=dataset.drop("Job Title",axis=1)

In [6]:
pd.unique(dataset["Education Level"])

array(["Bachelor's", "Master's", 'PhD', nan], dtype=object)

In [7]:
new_dataset=pd.get_dummies(dataset,columns=["Gender","Education Level"],dtype=int)
new_dataset.head()

,Age,Years of Experience,Salary,Gender_Female,Gender_Male,Education Level_Bachelor's,Education Level_Master's,Education Level_PhD
0,32.0,5.0,90000.0,0,1,1,0,0
1,28.0,3.0,65000.0,1,0,0,1,0
2,45.0,15.0,150000.0,0,1,0,0,1
3,36.0,7.0,60000.0,1,0,1,0,0
4,52.0,20.0,200000.0,0,1,0,1,0

In [8]:
new_dataset.isnull().sum()

Age                           2
Years of Experience           2
Salary                        2
Gender_Female                 0
Gender_Male                   0
Education Level_Bachelor's    0
Education Level_Master's      0
Education Level_PhD           0
dtype: int64

In [9]:
new_dataset=new_dataset.dropna()

In [10]:
new_dataset.isnull().sum()

Age                           0
Years of Experience           0
Salary                        0
Gender_Female                 0
Gender_Male                   0
Education Level_Bachelor's    0
Education Level_Master's      0
Education Level_PhD           0
dtype: int64

In [11]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [12]:
y=new_dataset["Salary"]
X=new_dataset.drop("Salary",axis=1)

In [13]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.2)
print(X_test)

      Age  Years of Experience  Gender_Female  Gender_Male  \
329  48.0                 21.0              0            1
33   39.0                 10.0              1            0
15   44.0                 16.0              0            1
316  34.0                  6.0              1            0
57   43.0                 17.0              0            1
..    ...                  ...            ...          ...
94   33.0                  7.0              0            1
196  41.0                 11.0              1            0
313  33.0                  4.0              0            1
294  45.0                 14.0              1            0
349  36.0                  8.0              0            1

     Education Level_Bachelor's  Education Level_Master's  Education Level_PhD
329                           0                         1                    0
33                            1                         0                    0
15                            1                         0                    0
316                           0                         1                    0
57                            0                         0                    1
..                          ...                       ...                  ...
94                            1                         0                    0
196                           1                         0                    0
313                           1                         0                    0
294                           0                         1                    0
349                           1                         0                    0

[75 rows x 7 columns]

In [14]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [15]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression()

In [16]:
y_pred=regressor.predict(X_test)
print(y_pred)

[174397.94485083  92739.7304696  129954.3162758   87434.0606635
 155650.66506871 153470.74460953 155412.89491725 106274.78004172
  58094.21861415 104017.16012387 136809.94569049 157592.81537643
  37929.58521857  87601.18414105 126217.38342327  58094.21861415
  65490.38486054  53411.32798827  76545.7845008  102537.84718919
 124275.23311555 111724.78040318 161100.66543017  61441.9979751
  87434.0606635   48595.83136725 168496.83167656  45248.0520063
 122468.72601052 152364.84502899  39408.89815326 127996.42583064
  54434.98522029 147865.34533074  89080.49707573  16441.56511829
 177761.46434921  52566.51879403 149811.51121567  59962.68504042
  44858.89851472  91260.41753491 168725.91447534 170661.0119983
  45248.0520063  149733.811757   118825.23275409  54345.5612014
  48907.28540016  37540.431727   159683.31181671  78414.25092706
 124348.91699701 100135.89671599 115384.01379704 107843.51699529
 188801.12385203  76156.63100922 174397.94485083  87823.21415507
 120600.25958425 147865.34533074 164821.85814526  65490.38486054
  50386.59833485  45248.0520063   54434.98522029  89080.49707573
  44858.89851472  30533.41897219  72886.55110693 101926.66368359
  67281.15182814 142633.3594061   85732.71771479]

In [ ]:
print(y_pred.size)
print(y_test.size)

In [ ]:
from sklearn.metrics import r2_score
print(r2_score(y_test, y_pred))